body {
	background-color: #00BFFF;
    margin: 0;
    padding: 0;
}

textarea {
    border: none;
    box-shadow: repeat(4, 0);
    color: #1C1C1C;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    height: 100vh;
    margin: 50px auto 10px auto;
    outline: 0;
    width: 80%;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
