<!DOCTYPE html>
<html>
<head>
	<title>Doesntpad</title>
</head>
<body>
	<form action="/" method="post">
		<label>www.doesntpad.com/</label>
		<input type="name" name="slug">
		<button type="submit">Go</button>
	</form>
</body>
</html>