<!DOCTYPE html>
<html>
<head>
	<title>Dontpad</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
	<section class="flex">
		<div>
			<h1>DOESNTPAD</h1>
			<form class="item" action="/" method="post"> 
				<label>www.doesntpad.com/</label>
				<input type="text" name="slug">
				<button>Go!</button>
			</form>
			<div class="item paragraph">
				Dont login, just use a URL<br>
				Dont save, text is auto-saved<br>
				Dont juggle attached files, edit online with your friends<br>
				Dont lose your content, download with YourURL.zip<br>
				Dont forget, you can use yourURL/yourFolder/yourSubfolder<br>
				Doesntpad!
			</div>
		</div>
	</section>
</body>
</html>