<!DOCTYPE html>
<html>
<head>
	<title>Doesntpad</title>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
	<section class="flex">
		<div>
			<h1>DOESNTPAD</h1>
			<form class="item " action="/" method="post"> 
				<label>http://localhost:8000/</label>
				<input type="text" name="slug" spellcheck="false">
				<button>Go!</button>
			</form>
			<div class="item information">
				Dont login, just use a URL<br>
				Dont save, text is auto-saved<br>
				Dont juggle attached files, edit online with your friends<br>
				Dont forget, you can use yourURL/yourFolder<br>
				Doesntpad!
			</div>
		</div>
	</section>
</body>
</html>