<!DOCTYPE html>
<html>
<head>
	<title>Doesntpad</title>
	<link rel="stylesheet" type="text/css" href="/static/css/notepad.css">
</head>
<body>
	<textarea id="content">{{content}}</textarea>
	<script type="text/javascript">
		let content = document.getElementById("content");
		content.addEventListener("keyup", sendRequest);
		content.addEventListener("keydown", tabulationHandler);

		function sendRequest() {
			let notepad = {
				id: parseInt("{{id}}"),
				slug: "{{slug}}",
				content: document.getElementById("content").value
			};
			
			fetch(`http://localhost:8000/${parseInt(notepad.id)}`, {
				method: 'PUT',
				headers: { 'Content-Type': 'application/json'},
 				body: JSON.stringify(notepad)
			}).then(res => console.log(res))
		}

		function tabulationHandler(event) {
			if(event.keyCode == 9) {
				event.preventDefault();
            	let previousPosition = this.selectionStart;
            	let posteriorPosition = this.selectionEnd;
            	event.target.value = event.target.value.substring(0, posteriorPosition) + "\t" + event.target.value.substring(posteriorPosition);
            	this.selectionStart = previousPosition + 1;
            	this.selectionEnd = previousPosition + 1;
			}
		}
	</script>
</body>
</html>