<!DOCTYPE html>
<html>
<head>
	<title>Doesntpad</title>
	<link rel="stylesheet" type="text/css" href="/static/css/notepad.css">
</head>
<body>
	<textarea id="content">{{content}}</textarea>
	<script type="text/javascript">
		let content = document.getElementById("content");

		content.addEventListener("keyup", sendRequest);
		content.addEventListener("keydown", tabulationHandler);

		function sendRequest() {
			let notepad = {
				id: parseInt("{{id}}"),
				slug: "{{slug}}",
				content: document.getElementById("content").value
			}
			fetch(`http://localhost:8000/${parseInt(notepad.id)}`, {
				method: 'PUT',
				headers: { 'Content-Type': 'application/json'},
 				body: JSON.stringify(notepad)
			}).then(res => console.log(res))
		}

		function tabulationHandler(e) {
			if(e.keyCode == 9) {
				e.preventDefault();
				
				/*Melhorar para o caso do tab após texto*/

				let s = this.selectionStart;
           		this.value = this.value.substring(0,this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
            	this.selectionEnd = s+1; 
			}
		}
	</script>
</body>
</html>